@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;700&display=swap');

body{
  background-color: #e9ecf1 !important;
  color: rgb(27, 28, 37) !important;
  font-family: 'Raleway', sans-serif !important;
}

nav{
  background-color: #e9ecf1 !important;
  color: rgb(27, 28, 37) !important;
  padding: 0 100px;
  height: 100px;
}

#einleitung{
  width: 50%;
  margin: auto;
  text-align: center;
}

.carousel{
  padding: 100px;
}

.img-fluid{
  width: 100% !important;
 
}

h5{
    padding: 10px;
    font-family: 'DM Serif Display', serif;
    border-bottom: white solid 2px;
}

a{
  text-decoration: none !important;
  color:  rgb(27, 28, 37) !important;
}

#showmore{
    margin-bottom: 50px;
}

h3{
  font-family: 'DM Serif Display', serif;
  font-size: 2em !important;
  color: rgb(34, 36, 48) ;
}

h2{
  font-family: 'Raleway', sans-serif ;
  font-size: 1em !important;
  font-weight: 700!important;
  color: rgb(34, 36, 48) ;
}

.firsta{
  color: white !important;
}

.firsta:hover{
  color: black !important;
}

#startbild{
  margin: 50px;
  padding: 0;
}

#startcon{
  padding: 0 !important;
}
#startbild{
  padding: 0% !important;
}


#galerie{
  padding: 100px  !important;
  max-width: 100% !important;
}


.row-cols-4>*{
  width: 33.33333% !important;
  padding-bottom: 100px;
}

.hunde{
  width: 100%;
  margin-bottom: 10px ;
}

h4{
  font-family: 'DM Serif Display', serif;
  font-size: 1.5em !important;
  color: rgb(34, 36, 48) ;
  padding-top: 20px;
  padding-bottom: 10px;
}

span{
  font-size: 0.8em;
}
.caption{
  padding: 10px;
}


#kontakt{
  display: flex;
  flex-direction: row;
  margin: 0 100px;
}


.col-md-4{
  width: 100% !important;
}
.col-md-5{
  width: 100% !important;
}
.col-md-6{

  width: 100% !important;
}

#footer{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 100px;
  background-color:#ffffff ;
}


.footerinhalt{
  width: 25%;
}




footer img{
  width: 10% !important;
}