@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap');

header{
    margin: 0 50px 0 50px ;
}
nav{
  margin: 0 50px 0 50px;
}

h5{
    padding: 10px;
    font-family: 'Cormorant Infant', serif;
    border-bottom: white solid 2px;
}

h3{
    color: rgb(0, 0, 0);
    font-family: 'Cormorant Infant', serif;
    border-bottom: rgb(0, 0, 0) solid 2px;
}
#showmore{
    margin-bottom: 50px;
}

#startbild{
  margin: 50px;
  padding: 0;
}

#startcon{
  padding: 0 !important;
}
#startbild{
  padding: 0% !important;
}

/* bild der Galerie */
#galerie{
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.card-body{
  height: 150px !important;
  background-color: rgb(230, 208, 179);
  color: white;
}

.card-title{
  border-bottom: solid rgb(255, 255, 255) 2px;
}

  /* fertig mit bild der Galerie */