@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');

body{
  background-color: #fafcff !important;
  color: rgb(27, 28, 37) !important;
  font-family: 'Raleway', sans-serif !important;
}

nav{
  background-color: #fafcff !important;
  color: rgb(27, 28, 37) !important;
  padding: 0 100px;
  height: 100px !important;
}

.carousel{
  padding: 0 100px;
}
h5{
    padding: 10px;
    font-family: 'DM Serif Display', serif;
    border-bottom: white solid 2px;
}

h3{
    color: rgb(23, 22, 26);
    font-family: 'DM Serif Display', serif;
    border-bottom: rgb(0, 0, 0) solid 2px;
}
#showmore{
    margin-bottom: 50px;
}

#startbild{
  margin: 50px;
  padding: 0;
}

#startcon{
  padding: 0 !important;
}
#startbild{
  padding: 0% !important;
}


#galerie{
  padding: 100px  !important;
  max-width: 100% !important;
}

.row-cols-4>*{
  width: 33.33333% !important;
}

.hunde{
  width: 100%;
  margin-bottom: 10px ;
}

h4{
  font-family: 'DM Serif Display', serif;
  font-size: 1.5em !important;
  color: rgb(34, 36, 48) ;
  padding-top: 20px;
  padding-bottom: 10px;
}

span{
  font-size: 0.8em;
}
.caption{
  padding: 10px;
}
